.about-page {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)),
    url('../../../public/images/img-home.jpg') center/cover no-repeat;
  color: white;
  padding: 140px 10% 100px;
}

.about-hero {
  max-width: 950px;
  margin: 0 auto 80px;
  text-align: center;
}

.about-label {
  letter-spacing: 5px;
  font-size: 0.9rem;

  color: var(--ocean-blue);

  text-shadow:
    0 0 10px rgba(142,232,255,.20);

  margin-bottom: 20px;
}

.about-hero h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 30px;

  color: #ffffff;

  text-shadow:
    0 0 10px rgba(231,215,178,.18),
    0 0 28px rgba(231,215,178,.10),
    0 0 55px rgba(231,215,178,.05);
}

.about-intro {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.8;
  color: #d6d6d6;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.about-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 35px;
  transition: all 0.3s ease;
}

.about-card:hover {
  transform: translateY(-8px);

  border-color: var(--sun-gold);

  background: rgba(255,255,255,.08);

  box-shadow:
    0 0 18px rgba(231,215,178,.16),
    0 18px 40px rgba(0,0,0,.35);
}

.about-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.about-card p {
  color: #d6d6d6;
  line-height: 1.8;
  text-align: center;
}

.about-footer-note {
  margin: 80px auto 0;
  max-width: 800px;
  text-align: center;
}

.about-footer-note h2 {
  color: var(--sun-gold);
  margin-bottom: 15px;

  text-shadow:
    0 0 10px rgba(231,215,178,.28),
    0 0 30px rgba(231,215,178,.15);
}

.about-footer-note p {
  color: #d6d6d6;
  line-height: 1.8;
}

@media screen and (max-width: 1000px) {
  .about-page {
    padding: 120px 8% 80px;
  }

  .about-hero h1 {
    font-size: 3rem;
  }

  .about-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .about-hero h1 {
    font-size: 2.4rem;
  }

  .about-intro {
    font-size: 1.1rem;
  }
}

.about-hero {
  position: relative;
  max-width: 950px;
  margin: 0 auto 80px;
  text-align: center;
}

.about-hero::before {
  content: "";

  position: absolute;

  width: 700px;
  height: 700px;

  left: 50%;
  top: -260px;

  transform: translateX(-50%);

  background: radial-gradient(
    circle,
    rgba(231,215,178,.08) 0%,
    rgba(142,232,255,.04) 35%,
    transparent 75%
  );

  filter: blur(90px);

  pointer-events: none;
  z-index: -1;
}