.navbar {
  background: #151313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-links:hover {
  color: #5ee7ff;
  transition: 0.3s ease;
}